.layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidebar {
  background-color: #4e342e;
  color: white;
  width: 60px;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
}

.sidebar:hover {
  width: 200px;
}

.logo {
  font-size: 1.5rem;
  padding: 1rem;
  text-align: left;
  width: 100%;
  padding-left: 1rem;
}

.menu-wrapper {
  flex-grow: 1;
  overflow-y: auto;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 4px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 0.8rem;
  color: #d7ccc8;
  text-decoration: none;
  transition: all 0.2s;
  border-radius: 4px;
  overflow: hidden;
}

.menu-item .icon {
  min-width: 24px;
  text-align: center;
  font-size: 1.2rem;
}

.menu-item .text {
  opacity: 0;
  width: 0;
  transition: opacity 0.2s ease;
  white-space: nowrap;
}

.sidebar:hover .menu-item .text {
  opacity: 1;
  width: auto;
}

.menu-item:hover,
.menu-item.active {
  background-color: #6d4c41;
  color: white;
}

.logout-btn {
  background-color: transparent !important;
  border: none;
  padding: 10px;
  color: #d7ccc8;
  margin: 1rem;
  cursor: pointer;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.2s, color 0.2s;
  width: 100%;
}

.logout-btn:hover {
  background-color: none !important;
}

.logout-btn.active {
  background-color: transparent;
}

.logout-btn .icon {
  font-size: 1.2rem;
}

.logout-btn .text {
  opacity: 0;
  width: 0;
  transition: opacity 0.2s ease, width 0.2s ease;
  color: white;
}

.sidebar:hover .logout-btn .text {
  opacity: 1;
  width: auto;
}

.main-content {
  flex: 1;
  padding: 2rem;
  background: #efebe9;
  overflow-y: auto;
}

@media (max-width: 768px) {
  .sidebar {
    width: 60px;
  }

  .sidebar:hover {
    width: 60px;
  }

  .menu-item .text,
  .logout-btn .text {
    display: none;
  }
}

.notifications-link {
  position: relative;
}

.notif-dot {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 10px;
  height: 10px;
  background-color: #d84315;
  border-radius: 50%;
}
